node_modules/
.env
public/uploads/*
public/thumbnails/*
!public/uploads/.gitkeep
!public/thumbnails/.gitkeep
*.log
.DS_Store
"node_modules/" 
".env" 
backend/temp/ 
backend/debug-log.txt 
tmp_debug_ffmpeg.js 
